#ingameFPS::before {
    content: "1";
}

#menuFPSDisplay :before {
    content: "1";
}

#curGameInfo {
    font-size: 0;
}

#curGameInfo:after {
    font-size: 18px !important;
    color: #ffff;
    content: "real daje";
    text-shadow:0 0 0 var(--black),1px 0 0 var(--black),-1px 0 var(--black),0 -1px var(--black),0 1px var(--black),1px 1px var(--black),1px -1px var(--black),-1px 1px var(--black),-1px -1px var(--black),0 2px var(--black),0 -2px var(--black),2px 0 var(--black),-2px 0  var(--black),1px 2px var(--black),-1px 2px var(--black),1px -2px var(--black),-1px -2px var(--black),2px 2px var(--black),-2px 2px var(--black),2px -2px var(--black),-2px -2px var(--black),0 0 2px var(--black),0 0 2px var(--black),0 0 2px var(--black) ;
}

:root {
    --black: #000000;
}

#tlInfHold {
    display: none
}

#newsHolder,
#faceItIconM,
#aHolder, 
.endAHolder, 
#aMerger,
.imageButton,.krSocial,
#editorBtnM,
#onetrust-consent-sdk,
#policeButton,
#timerIcon,
#voiceDisplay,
.purejscarousel-slide,
::-webkit-scrollbar,
.terms,
#termsInfo,
#mainLogo, #seasonLabel, #rankedSoonTm{
    display: none !important;
}

#classPreviewCanvas {
	filter: drop-shadow(10px 10px black);
    opacity: 1;
}

