:root {
    --accent: #ff9ba6;
    --bg-color2: #000;
    --bg-color: #fff;
    --menu-bg-color-secondary: #00000021
    --subBgST: #292e394d;
    --primaryBg: #ff9ba6;
    --c_white: #dfdfdf;
    --c_whiteST: #ffffffb3;
}
